.forum-first-block,
.forum-last-block,
.forum-middle-block {
  padding: 15px 15px;
  margin-left: -15px;
  word-break: break-all;
}
.fourm-top,
.fourm-posts {
  background-color: #ffffff;
  margin-bottom: 1em;
  border-radius: 0.2em;
}
.fourm-top h2,
.fourm-posts h2 {
  margin: 0 10px 10px 10px;
}
.fourm-top .author,
.fourm-posts .author {
  margin-bottom: 0;
}
.fourm-top hr,
.fourm-posts hr {
  margin-top: 10px;
  margin-bottom: 10px;
}
.form-first-block {
  margin-left: -15px;
}
.forum-last-block {
  margin-right: -30px;
}
.forum-list-title-link {
  font-size: 1.2em;
  color: #333333;
}
.forum-list-title-link:hover {
  text-decoration: none;
}
.forum-list-hr {
  margin-left: -15px;
  margin-right: -15px;
}
.forum-list-no-hr {
  padding: 10px;
}
/*通用类*/
.forum_bg {
  background: url('../images/bg.png');
}
.forum_block_border {
  border: #ddd 1px solid;
  border-bottom: #ddd 3px solid;
  border-radius: 5px;
  margin-bottom: 10px;
  overflow: hidden;
}
.forum_block_title {
  background: #F5F5F5;
  padding: 8px 5px;
  color: #7A7A7A;
  font-size: 1.2em;
  margin: 0;
}
.forum_order_select {
  border-radius: 4px;
  padding: 2px 2px;
  font-size: 14px;
}
/*通用类end*/
.forum_header {
  padding-bottom: 20px;
  vertical-align: middle;
  background: url(../images/line.png);
  font-size: 16px;
  position: relative;
  overflow: visible;
}
.forum_header .forum_left_tip {
  position: absolute;
  left: -18px;
  background: #008CC9;
  top: 50%;
  color: white;
  width: 18px;
  font-size: 12px;
  margin-top: -18px;
  padding: 4px;
}
.forum_logo {
  margin-top: 35px;
  background: url('../images/bg.png');
  display: inline-block;
  width: 250px;
  height: 50px;
}
.forum_post_btn {
  height: 38px;
  width: 100%;
  font-size: 18px;
}
.forum_list_forum {
  text-align: center;
}
.forum_list_forum a {
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 3px;
  padding: 8px 10px;
  width: 80%;
  background: white;
  margin-bottom: 10px;
}
.forum_list_forum a:hover {
  background: #3C9B67;
  color: white;
}
.forum_list_forum .active {
  background: #3C9B67;
  color: white;
}
.hot_post {
  background: white;
  margin-bottom: 10px;
  padding-bottom: 0;
}
.hot_post dt:last-child {
  border: none;
}
.hot_post dt {
  margin: 10px;
  font-weight: 1em;
  line-height: 1.7em;
  margin-bottom: .8em;
  padding-bottom: .8em;
  border-bottom: 1px dashed #ccc;
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.hot_post dt .hot_num {
  background: #4eb87a;
  padding: 0 0.5em;
  font-style: normal;
  color: white;
  border-radius: 0.3em;
  font-size: .9em;
  display: inline-block;
}
.hot_post dt a {
  color: #333;
  font-weight: normal;
}
