.check_rank {
  background-color: white;
  box-shadow: 0 0 5px #cccccc;
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
  border-bottom: #dddddd 3px solid;
  line-height: 42px;
  color: #D61F39;
}
.check_rank .check_rank_list {
  padding: 0 15px;
  display: block;
}
.check_rank .check_rank_list li {
  list-style: none;
}
.check_rank a {
  color: #D61F39;
}
