<volist name="list" id="weibo">

    <div class="row" id="weibo_{$weibo.id}">
        <div class="col-md-12">
            <div class="pull-left">
                <a href="{$weibo.user.space_url}" ucard="{$weibo.user.uid}"><img src="{$weibo.user.avatar64}"
                                                                                 class="avatar-img"
                                                                                 style="width: 64px;"/></a>
            </div>

            <div style="padding-left: 16px; width: 92%;float: left">
                <p><a ucard="{$weibo.user.uid}"
                      href="{$weibo.user.space_url}">{$weibo.user.username|htmlspecialchars}</a>{$weibo.user.icons_html}
                    <volist name="weibo['user']['rank_link']" id="vl"><php>if($vl['is_show']==1){</php><img src="{$vl.logo_url}" title="{$vl.title}" alt="{$vl.title}" style="width: 18px;height: 18px;vertical-align: middle;margin-left: 2px;"/><php>}</php></volist>
                </p>

                <p class="word-wrap">{$weibo.content|parse_weibo_content}</p>

                <p>
                    <!--"{:U('bboard/Index/tmldetail',array('topic_id'=>$vo['topic_id']))}"-->
                    <span class="text-primary"><a href="{:U('Weibo/Index/weiboDetail',array('id'=>$weibo['id']))}">{$weibo.create_time|friendlyDate}</a> </span>
                    <a class="pull-right text-primary weibo-comment-link" href="#" data-weibo-id="{$weibo.id}">
                        <php>
                            $weiboCommentTotalCount = $weibo['comment_count'];
                        </php>
                        <include file="_operation"/>
                    </a>
                </p>
                <div class="row weibo-comment-list" style="display: none;" data-weibo-id="{$weibo.id}">
                    <div class="col-md-12">
                        <div class="light-jumbotron" style="padding: 1em 2em;">
                            <div class="weibo-comment-container">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <hr/>
</volist>

<script>
    ucard();
</script>