<!-- 底部
================================================== -->
<div style="padding: 5px"></div>
<div class="footer-jumbotron footer_bar">
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <div><img src="__PUBLIC__/Core/images/footer-logo.png"/>
                    <p class="han_p">想天软件工作室成立于2013年6月，专业承接社交网站开发。承接ThinkOX、ThinkSNS等二次开发，企业网站建设，网站UI视觉设计。
                    </p>
                    <p class="han_p">
                        本站由 <a href="http://tox.ourstu.com/" target="_blank">ThinkOX开源社交框架</a> 强力驱动
                        <!--//TODO 如未获得thinkox官方许可，请尽量保留一个指向thinkox的链接，非常感谢。-->
                        <php> $config = api('Config/lists');
                            C($config); //添加配置
                            $icp=C('WEB_SITE_ICP');
                            $count_code=C('COUNT_CODE');
                        </php>
                        <notempty name="icp">
                            <p>备案号：<a href="http://www.miitbeian.gov.cn/" target="_blank">{$icp}</a></p>
                        </notempty>
                        @2014 ThinkSkySoftware Studio. All Rights Reserved&nbsp;
                        {$count_code}
                    </p>
                </div>
            </div>
            <div class="col-md-2">
                <div class="footer_right">
                    <p><h4><strong>联系</strong></h4></p>
                    <p><a href="http://www.ourstu.com/index.php?s=/home/index/about.html" target="_blank">关于我们</a>
                    <p>
                    <p><a href="http://tox.ourstu.com/tox/index.php?s=/Forum/Index/forum/id/3.html" target="_blank">问题反馈</a></p>
                    <p><a href="http://www.ourstu.com/index.php?s=/home/index/contact.html" target="_blank">联系我们</a></p>
                </div>
            </div>
            <div class="col-md-2">
                <img src="__PUBLIC__/Core/images/erweima.png"/>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript" src="__PUBLIC__/Core/js/ext/magnific/jquery.magnific-popup.min.js"></script>
<script type="text/javascript" src="__PUBLIC__/Core/js/ext/placeholder/placeholder.js"></script>
<script type="text/javascript" src="__PUBLIC__/Core/js/ext/atwho/atwho.js"></script>
<link type="text/css" rel="stylesheet" href="__PUBLIC__/Core/js/ext/atwho//atwho.css"/>
<include file="Public/var"/>
<block name="script">
</block> <!-- 用于加载js代码 -->
<!-- 页面footer钩子，一般用于加载插件JS文件和JS代码 -->
{:hook('pageFooter', 'widget')}
<div class="hidden"><!-- 用于加载统计代码等隐藏元素 -->
    <block name="hidden"></block>
</div>
