<include file="Public/right_chat_panel"/>
<php> D('Home/Member')->need_login();</php>
<div id="top_bar" class="top_bar">
    <div class="container">
        <div class="row  ">
            <div class="col-md-6 col-sm-6 hidden-xs">
                分享<a class="share_weibo" id="weibo_shareBtn" target="_blank"></a>
            </div>
            <script>
                $(function()
                {
                    weiboShare();//处理微博分享
                })
            </script>
            <div class="col-md-6 col-sm-6  text-right top_right">
                <php>
                    $unreadMessage=D('Common/Message')->getHaventReadMeassageAndToasted(is_login());
                </php>
                <ul class="nav navbar-nav navbar-right">
                    <!-- <li>
                         &lt;!&ndash;换肤功能预留&ndash;&gt;
                        <a>换肤</a>
                        &lt;!&ndash;换肤功能预留end&ndash;&gt;
                    </li>-->
                    <!--登陆面板-->
                    <if condition="is_login()">
                        <li class="dropdown op_nav_ico hidden-xs hidden-sm">
                            <div></div>
                            <a id="nav_info" class="dropdown-toggle text-left" data-toggle="dropdown">
                                <span class="glyphicon glyphicon-bell"></span>
                                <span id="nav_bandage_count"
                                <if condition="count($unreadMessage) eq 0"> style="display: none"</if>
                                class="badge pull-right">{:count($unreadMessage)}</span>
                                &nbsp;
                            </a>
                            <ul class="dropdown-menu extended notification" >
                                <li style="padding-left: 15px;padding-right: 15px;">
                                    <div class="row nav_info_center">
                                        <div class="col-xs-9 nav_align_left"><span
                                                id="nav_hint_count">{:count($unreadMessage)}</span> 条未读
                                        </div>
                                        <div class="col-xs-3"><i onclick="setAllReaded()"
                                                                 class="set_read glyphicon glyphicon-ok"
                                                                 title="全部标为已读"></i></div>
                                    </div>
                                </li>
                                <li>
                                    <div style="position: relative;width: auto;overflow: hidden;max-height: 250px ">
                                        <ul id="nav_message" class="dropdown-menu-list scroller "
                                            style=" width: auto;">
                                            <if condition="count($unreadMessage) eq 0">
                                                <div style="font-size: 18px;color: #ccc;font-weight: normal;text-align: center;line-height: 150px">
                                                    暂无任何消息!
                                                </div>
                                                <else/>
                                                <volist name="unreadMessage" id="message">
                                                    <li>
                                                        <a data-url="{$message.url}"
                                                           onclick="readMessage(this,{$message.id})">
                                                            <i class="glyphicon glyphicon-bell"></i>
                                                            {$message.title}
                                            <span class="time">
                                            {$message.ctime}
                                            </span>
                                                        </a>
                                                    </li>
                                                </volist>
                                            </if>

                                        </ul>
                                    </div>
                                </li>
                                <li class="external">
                                    <a href="{:U('Usercenter/Message/message')}">
                                        消息中心 <i class="glyphicon glyphicon-circle-arrow-right"></i>
                                    </a>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a style="margin-right: 15px;" title="修改资料" href="{:U('Usercenter/Config/index')}"><i
                                    class="glyphicon glyphicon-cog"></i></a>
                        </li>
                        <li class="top_spliter hidden-xs"></li>
                        <li class="dropdown">
                            <php>
                                $common_header_user = query_user(array('nickname'));
                            </php>
                            <a role="button" class="dropdown-toggle dropdown-toggle-avatar" data-toggle="dropdown">
                                {$common_header_user.nickname}&nbsp;<i style="font-size: 12px"
                                                                       class="glyphicon glyphicon-chevron-down"></i>
                            </a>
                            <ul class="dropdown-menu text-left" role="menu">
                                <li><a href="{:U('UserCenter/Index/index')}"><span
                                        class="glyphicon glyphicon-user"></span>&nbsp;&nbsp;个人主页</a>
                                </li>
                                <if condition="is_administrator()">
                                    <li><a href="{:U('Admin/Index/index')}" target="_blank"><span
                                            class="glyphicon glyphicon-dashboard"></span>&nbsp;&nbsp;管理后台</a></li>
                                </if>
                                <li><a event-node="logout"><span
                                        class="glyphicon glyphicon-off"></span>&nbsp;&nbsp;注销</a>
                                </li>
                            </ul>
                        </li>
                        <li class="top_spliter hidden-xs"></li>
                        <else/>
                        <li class="top_spliter hidden-xs"></li>
                        <li>
                            <php>$url='http://'.$_SERVER['HTTP_HOST'].$_SERVER['PHP_SELF'].'?'.$_SERVER['QUERY_STRING'];
                            </php>
                            <a href="{:U('Home/User/login')}">登录</a>
                        </li>
                        <li>
                            <a href="{:U('Home/User/register')}">注册</a>
                        </li>
                        <li class="spliter"></li>
                    </if>
                </ul>
            </div>
        </div>
    </div>
</div>
<div id="logo_bar" class="logo_bar">
    <div class="container">
        <div class="row logo">
            <div class="col-md-5">
                <a href="{:U('Home/Index/index')}"><img src="__PUBLIC__/Core/images/logo.png"/></a>
            </div>
        </div>
    </div>
</div>
<div id="nav_bar" class="nav_bar " style="margin-bottom: 25px;">
    <nav class="container" role="navigation">
        <div class="col-md-9 collapse navbar-collapse col-sm-12 " id="nav_bar_main">

            <ul class="nav navbar-nav col-md-10 col-sm-12" style="font-size: 16px">
                <think:nav name="nav">
                    <eq name="nav.pid" value="0">
                        <php>
                            $children=D('Channel')->where(array('pid'=>$nav['id']))->order('sort asc')->select();
                            if($children){
                        </php>
                        <li class="dropdown">
                            <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                                {$nav.title} <span class="caret"></span>
                            </a>
                            <ul class="dropdown-menu">
                                <volist name="children" id="subnav">
                                    <li role="presentation"><a role="menuitem" tabindex="-1"
                                                               href="{$subnav.url|get_nav_url}"
                                                               target="<eq name='subnav.target' value='1'>_blank<else/>_self</eq>">{$subnav.title}</a>
                                    </li>
                                </volist>
                            </ul>
                        </li>
                        <php>}else{</php>
                        <li class="<eq name='nav.url|get_nav_active' value='1'>active<else/></eq>">
                            <a href="{$nav.url|get_nav_url}"
                               target="<eq name='nav.target' value='1'>_blank<else/>_self</eq>">{$nav.title}</a>
                        </li>
                        <php>}</php>
                    </eq>
                </think:nav>
            </ul>
            <if condition="is_login()">
                <div class="col-md-2 navbar-right text-right row hidden-xs" style="padding-top:12px;min-width: 132px">
                    <div class="btn-group text-left">
                        <a type="button" class="btn btn-primary open-popup-link" href="#frm_post_weibo_popup">发微博</a>
                        <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
                            <span class="caret"></span>
                            <span class="sr-only">发布</span>
                        </button>
                        <ul class="dropdown-menu" role="menu">
                            <li><a href="{:U('Forum/Index/edit')}">发帖子</a></li>
                            <li><a href="{:U('Event/Index/add')}">发活动</a></li>
                        </ul>
                    </div>
                </div>
                <div id="frm_post_weibo_popup" class="white-popup mfp-hide" style="max-width: 745px">
                    <h2>发布微博</h2>

                    <div class="row">
                        <div class="col-xs-12">
                            <br/>

                            <p><textarea class="form-control" id="weibo_content" style="height: 6em;"
                                         placeholder="写点什么吧～～"></textarea></p>
                            <a href="javascript:" onclick="insertFace($(this))"><img src="__STATIC__/image/bq.png"/></a>
                            {:hook('weiboType')}
                            <p class="pull-right"><input type="submit" value="发表 Ctrl+Enter" id="send_weibo_button"
                                                         class="btn btn-primary" data-url="{:U('Weibo/Index/doSend')}"/>
                            </p>
                        </div>
                    </div>
                    <div id="emot_content" class="emot_content"></div>
                    <div id="hook_show" class="emot_content"></div>
                </div>
            </if>


        </div>
        <!--导航栏菜单项-->

            <div class="row visible-xs">
                <if condition="is_login()">
            <div class="col-md-2 navbar-right row  col-xs-3 visible-xs "
                     style="padding-top:12px;min-width: 132px;display: none;margin-left: 15px">
                   <div class="btn-group text-left">
                        <a type="button" class="btn btn-primary open-popup-link" href="#frm_post_weibo_popup">发微博</a>
                        <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
                            <span class="caret"></span>
                            <span class="sr-only">Toggle Dropdown</span>
                        </button>
                        <ul class="dropdown-menu" role="menu">
                            <li><a href="{:U('Forum/Index/edit')}">发帖子</a></li>
                            <li><a href="{:U('Event/Index/add')}">发活动</a></li>
                        </ul>
                    </div>

                </div> </if>
                <div class="navbar-header col-xs-3 pull-right text-left">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#nav_bar_main">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                </div>
            </div>

        <div class="col-md-3 col-xs-12">
            <div class="pull-right text-right" style="padding-top:4px;">
                <form class="navbar-form navbar-right" role="search" id="forum_search" method="post">
                    <div class="form-group">
                        <div class="input-group">
                            <input type="text" class="form-control" name="keywords" placeholder="查找">

                            <div class="input-group-btn text-left">
                                <button type="button" class="btn btn-default dropdown-toggle"
                                        style="border-left: none;border-top-left-radius: 0;border-bottom-left-radius: 0"
                                        data-toggle="dropdown"><span class="glyphicon glyphicon-search"></span>
                                </button>
                                <ul class="dropdown-menu pull-right" role="menu">
                                    <!--<li><a class="submit_search">微博</a></li>-->
                                    <li><a class="submit_search" url="{:U('Forum/Index/search')}">贴吧</a></li>
                                    <!-- <li><a class="submit_search">活动</a></li>-->
                                    <li><a class="submit_search" url="{:U('People/Index/find')}">会员</a></li>
                                </ul>
                            </div>
                            <script>
                                $(function () {
                                    $('.submit_search').click(function () {
                                        $('#forum_search').attr('action', $(this).attr('url'));
                                        $('#forum_search').submit();
                                    });
                                })
                            </script>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </nav>
</div>
<a id="goTopBtn"></a>