<php> D('Home/Member')->need_login();</php>
<div class="top_bar">
    <div class="container">
        <div class="row">
            <div class="col-md-1">
                分享<a id="weibo_shareBtn" target="_blank" class="share_weibo"></a>
            </div>
            <div class="col-md-11 text-right">


                <php>
                    $unreadMessage=D('Common/Message')->getHaventReadMeassageAndToasted(is_login());
                </php>
                <ul class="nav navbar-nav navbar-right">
                    <!-- <li>
                         &lt;!&ndash;换肤功能预留&ndash;&gt;
                        <a>换肤</a>
                        &lt;!&ndash;换肤功能预留end&ndash;&gt;
                    </li>-->

                    <!--登陆面板-->
                    <if condition="is_login()">
                        <li class="dropdown op_nav_ico hidden-xs hidden-sm">
                            <div></div>
                            <a id="nav_info" class="dropdown-toggle text-left" data-toggle="dropdown">
                                <span class="glyphicon glyphicon-bell"></span>
                                <span id="nav_bandage_count"
                                <if condition="count($unreadMessage) eq 0"> style="display: none"</if>
                                class="badge pull-right">{:count($unreadMessage)}</span>
                                &nbsp;
                            </a>
                            <ul class="dropdown-menu extended notification" style="">
                                <li style="padding-left: 15px;padding-right: 15px;">
                                    <div class="row nav_info_center">
                                        <div class="col-xs-9 nav_align_left"><span
                                                id="nav_hint_count">{:count($unreadMessage)}</span> 条未读
                                        </div>
                                        <div class="col-xs-3"><i onclick="setAllReaded()"
                                                                 class="set_read glyphicon glyphicon-ok"
                                                                 title="全部标为已读"></i></div>
                                    </div>
                                </li>
                                <li>
                                    <div style="position: relative;width: auto;overflow: hidden;max-height: 250px ">
                                        <ul id="nav_message" class="dropdown-menu-list scroller "
                                            style=" width: auto;">
                                            <if condition="count($unreadMessage) eq 0">
                                                <div style="font-size: 18px;color: #ccc;font-weight: normal;text-align: center;line-height: 150px">
                                                    暂无任何消息!
                                                </div>
                                                <else/>
                                                <volist name="unreadMessage" id="message">
                                                    <li>
                                                        <a data-url="{$message.url}"
                                                           onclick="readMessage(this,{$message.id})">
                                                            <i class="glyphicon glyphicon-bell"></i>
                                                            {$message.title}
                                            <span class="time">
                                            {$message.ctime}
                                            </span>
                                                        </a>
                                                    </li>
                                                </volist>
                                            </if>

                                        </ul>
                                    </div>

                                </li>
                                <li class="external">
                                    <a href="{:U('Usercenter/Message/message')}">
                                        查看全部 <i class="glyphicon glyphicon-circle-arrow-right"
                                                style="background: none;color: rgb(72,184,122)"></i>
                                    </a>
                                </li>
                            </ul>

                        </li>


                        <li>
                            <a title="修改资料" href="{:U('Usercenter/Index/expandInfo')}"><i
                                    class="glyphicon glyphicon-cog"></i></a>
                        </li>
                        <li class="top_spliter"></li>
                        <li class="dropdown">
                            <php>
                                $common_header_user = query_user(array('nickname'));
                            </php>
                            <a role="button" class="dropdown-toggle dropdown-toggle-avatar" data-toggle="dropdown">
                                {$common_header_user.nickname}&nbsp;<i style="font-size: 12px"
                                                                       class="glyphicon glyphicon-chevron-down"></i>
                            </a>
                            <ul class="dropdown-menu" role="menu">
                                <li><a href="{:U('UserCenter/Index/index')}"><span
                                        class="glyphicon glyphicon-user"></span>&nbsp;&nbsp;个人中心</a>
                                </li>
                                <if condition="is_administrator()">
                                    <li><a href="{:U('Admin/Index/index')}" target="_blank"><span
                                            class="glyphicon glyphicon-dashboard"></span>&nbsp;&nbsp;管理后台</a></li>
                                </if>
                                <li><a event-node="logout"><span
                                        class="glyphicon glyphicon-off"></span>&nbsp;&nbsp;注销</a>
                                </li>
                            </ul>
                        </li>
                        <li class="top_spliter"></li>
                        <else/>
                        <li class="top_spliter"></li>
                        <li>
                            <php>$url='http://'.$_SERVER['HTTP_HOST'].$_SERVER['PHP_SELF'].'?'.$_SERVER['QUERY_STRING'];
                            </php>
                            <a href="{:U('Home/User/login',array('back'=>urlencode($url)))}">登录</a>
                        </li>
                        <li>
                            <a href="{:U('Home/User/register')}">注册</a>
                        </li>
                        <li class="spliter"></li>
                    </if>
                </ul>
            </div>

        </div>


    </div>
</div>
<div class="logo_bar">
    <div class="logo">
        <div class="container">
            <a class="logo" href="{:U('Home/Index/index')}"><img class="" src="__STATIC__/oneplus/images/logo.png"/></a>
        </div>

    </div>
    <a class="bg">
        <img src="__STATIC__/oneplus/images/logobar_bg.png"/>
    </a>
</div>
<div class="nav_bar">
    <div class="container">
        <ul class="nav navbar-nav" style="font-size: 18px">
            <!--导航栏菜单项-->
            <think:nav name="nav">
                <eq name="nav.pid" value="0">
                    <php>
                        $children=D('Channel')->where(array('pid'=>$nav['id']))->order('sort asc')->select();
                        if($children){
                    </php>
                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                            {$nav.title} <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu">
                            <volist name="children" id="subnav">
                                <li role="presentation"><a role="menuitem" tabindex="-1" href="{$subnav.url|get_nav_url}"
                                                           target="<eq name='subnav.target' value='1'>_blank<else/>_self</eq>">{$subnav.title}</a>
                                </li>
                            </volist>
                        </ul>
                    </li>

                    <php>}else{</php>

                    <li class="<eq name='nav.url|get_nav_active' value='1'>active<else/></eq>">
                        <a href="{$nav.url|get_nav_url}"
                           target="<eq name='nav.target' value='1'>_blank<else/>_self</eq>">{$nav.title}</a>
                    </li>

                    <php>}</php>

                </eq>


            </think:nav>
        </ul>
    </div>
</div>
<a id="goTopBtn"></a>
<!--新浪微博分享代码-->
<script>
    /* weiboShare */
    function weiboShare() {
        var wb_shareBtn = document.getElementById("weibo_shareBtn")
        wb_url = document.URL, //获取当前页面地址，也可自定义例：wb_url = "http://www.bluesdream.com"
                wb_appkey = "",
                wb_title = document.title,
                wb_ralateUid = "{:C('SHARE_WEIBO_ID')}",
                wb_pic = "",
                wb_language = "zh_cn";

        wb_shareBtn.setAttribute("href", "http://service.weibo.com/share/share.php?url=" + wb_url + "&appkey=" + wb_appkey + "&title=" + wb_title + "&pic=" + wb_pic + "&ralateUid=" + wb_ralateUid + "&language=" + wb_language + "");
    }
    weiboShare()
</script>
<!--新浪微博分享代码end-->
