<!-- Brand and toggle get grouped for better mobile display -->
<div class="navbar-header">
    <button type="button" class="navbar-toggle" data-toggle="collapse"
            data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
    </button>
    <a class="navbar-logo" href="{:U('Home/Index/index')}">
        <img src="__PUBLIC__/Home/images/oneplus/oneplus-logo.png" style="width: 150px;"/>
    </a>
</div>

<!-- Collect the nav links, forms, and other content for toggling -->
<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
    <ul class="nav navbar-nav" style="font-size: 18px">

        <!--导航栏菜单项-->
        <think:nav name="nav">

            <eq name="nav.pid" value="0">

                <php>
                    $children=D('Channel')->where(array('pid'=>$nav['id']))->order('sort asc')->select();
                    if($children){
                </php>


                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                        {$nav.title} <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu">
                        <volist name="children" id="subnav">
                            <li role="presentation"><a role="menuitem" tabindex="-1" href="{$subnav.url|get_nav_url}"
                                                       target="<eq name='subnav.target' value='1'>_blank<else/>_self</eq>">{$subnav.title}</a>
                            </li>
                        </volist>
                    </ul>
                </li>

                <php>}else{</php>

                <li class="<eq name='nav.url|get_nav_active' value='1'>active<else/></eq>">
                    <a href="{$nav.url|get_nav_url}"
                       target="<eq name='nav.target' value='1'>_blank<else/>_self</eq>">{$nav.title}</a>
                </li>

                <php>}</php>

            </eq>


        </think:nav>
    </ul>
    <ul class="nav navbar-nav navbar-right">
        <!--登录注册-->
        <php>
            $unreadMessage=D('Common/Message')->getHaventReadMeassageAndToasted(is_login());
        </php>
        <if condition="is_login()">
            <!-- <li class="dropdown op_nav_ico ">
                 <a class="dropdown-toggle text-left" data-toggle="dropdown">
                     <span class="glyphicon glyphicon-send"></span>
                     &nbsp;
                 </a>
                 <ul class="dropdown-menu extended notification" style="">
                     <li style="padding-left: 15px;padding-right: 15px;">
                         <div class="row nav_info_center">
                             <div class="col-xs-9 nav_align_left"><span>{:count($currentSession)}</span> 个进行中的会话
                             </div>
                             <div class="col-xs-3"></div>
                         </div>
                     </li>
                     <li>
                         <div style="position: relative;width: auto;overflow: hidden;max-height: 250px ">
                             <ul id="nav_session" class="dropdown-menu-list scroller "
                                 style=" width: auto;">
                                 <if condition="count($currentSession) eq 0">
                                     <div style="font-size: 18px;color: #ccc;font-weight: normal;text-align: center;line-height: 150px">
                                         暂无会话!
                                     </div>
                                     <else/>
                                     <volist name="currentSession" id="session">
                                         <li>
                                             <a href="{:U('Usercenter/Message/talk',array('talk_id'=>$session['id']))}">
                                                 <div class="row">
                                                     <div class="col-xs-3">
                                                         <img class="avatar-img session_head"
                                                              src="{$session.first_user.avatar32}">
                                                     </div>
                                                     <div class="col-xs-9">
                                                         <div class="title text-more" title=" {$session.title}">
                                                             {$session.title|op_t}
                                                         </div>
                                                         <div class="content text-more"
                                                              title="{$session.last_message.content|op_t}">
                                                             <if condition="$session['last_message'] neq null">
                                                                 {$session.last_message.user.username}:{$session.last_message.content|op_t|mb_substr=0,10,'utf-8'}
                                                                 <else/>
                                                                 暂无内容。
                                                             </if>
                                                         </div>
                                                     </div>
                                                 </div>
                                             </a>
                                         </li>
                                     </volist>

                                 </if>
                             </ul>
                         </div>
                     </li>
                     <li class="">

                         <a href="{:U('Usercenter/Message/session')}">
                             <i class="glyphicon glyphicon-circle-arrow-right" title="查看全部"
                                style="background: none;color: rgb(72,184,122)"></i>
                         </a>
                         <a href="{:U('Usercenter/Message/session')}">
                             <i class="glyphicon glyphicon-circle-arrow-right" title="查看全部"
                                style="background: none;color: rgb(72,184,122)"></i>
                         </a>
                     </li>
                 </ul>
             </li>
 -->

            <li class="dropdown op_nav_ico hidden-xs hidden-sm">
                <div></div>
                <a id="nav_info" class="dropdown-toggle text-left" data-toggle="dropdown">
                    <span class="glyphicon glyphicon-bullhorn"></span>
                    <span id="nav_bandage_count"
                    <if condition="count($unreadMessage) eq 0"> style="display: none"</if>
                    class="badge pull-right">{:count($unreadMessage)}</span>
                    &nbsp;
                </a>
                <ul class="dropdown-menu extended notification" style="">
                    <li style="padding-left: 15px;padding-right: 15px;">
                        <div class="row nav_info_center">
                            <div class="col-xs-9 nav_align_left"><span
                                    id="nav_hint_count">{:count($unreadMessage)}</span> 条未读
                            </div>
                            <div class="col-xs-3"><i onclick="setAllReaded()"
                                                     class="set_read glyphicon glyphicon-ok" title="全部标为已读"></i></div>
                        </div>
                    </li>
                    <li>
                        <div style="position: relative;width: auto;overflow: hidden;max-height: 250px ">
                            <ul id="nav_message" class="dropdown-menu-list scroller "
                                style=" width: auto;">
                                <if condition="count($unreadMessage) eq 0">
                                    <div style="font-size: 18px;color: #ccc;font-weight: normal;text-align: center;line-height: 150px">
                                        暂无任何消息!
                                    </div>
                                    <else/>
                                    <volist name="unreadMessage" id="message">
                                        <li>
                                            <a data-url="{$message.url}" onclick="readMessage(this,{$message.id})">
                                                <i class="glyphicon glyphicon-bell"></i>
                                                {$message.title}
                                            <span class="time">
                                            {$message.ctime}
                                            </span>
                                            </a>
                                        </li>
                                    </volist>
                                </if>

                            </ul>
                        </div>

                    </li>
                    <li class="external">
                        <a href="{:U('Usercenter/Message/message')}">
                            查看全部 <i class="glyphicon glyphicon-circle-arrow-right"
                                    style="background: none;color: rgb(72,184,122)"></i>
                        </a>
                    </li>
                </ul>

            </li>


            <li class="dropdown">
                <php>
                    $common_header_user = query_user(array('avatar64'));
                </php>
                <a role="button" class="dropdown-toggle dropdown-toggle-avatar" data-toggle="dropdown">
                    <img src="{$common_header_user['avatar64']}" class="navbar-avatar-img"/>
                </a>
                <ul class="dropdown-menu" role="menu">
                    <li><a href="{:U('UserCenter/Index/index')}"><span class="glyphicon glyphicon-user"></span>&nbsp;&nbsp;个人中心</a>
                    </li>
                    <if condition="is_administrator()">
                        <li><a href="{:U('Admin/Index/index')}" target="_blank"><span
                                class="glyphicon glyphicon-dashboard"></span>&nbsp;&nbsp;管理后台</a></li>
                    </if>
                    <li><a event-node="logout"><span class="glyphicon glyphicon-off"></span>&nbsp;&nbsp;注销</a>
                    </li>
                </ul>
            </li>
            <else/>
            <li>
                <php>$url='http://'.$_SERVER['HTTP_HOST'].$_SERVER['PHP_SELF'].'?'.$_SERVER['QUERY_STRING'];
                </php>
                <a href="{:U('Home/User/login',array('back'=>urlencode($url)))}">登录</a>
            </li>
            <li>
                <a href="{:U('Home/User/register')}">注册</a>
            </li>
        </if>
    </ul>
</div>
<div class="friend_panel visible-md visible-lg" style="display: none">
    <a class="btn-pull" onclick="$('#friend_panel_main').toggle();"><i class="glyphicon glyphicon-chevron-left"></i>&nbsp;
    </a>
    <php>
        $currentSession=D('Common/Talk')->getCurrentSessions();
    </php>
    <div id="friend_panel_main">
        <h2>会话</h2>
        <ul class="friend_list">
            <volist name="currentSession" id="session">
                <li id="chat_li_{$session.id}">
                    <a title=" {$session.title|op_t}" onclick="open_chat_box({$session.id})">
                        <img src="{$session.first_user.avatar64}" class="avatar-img" style="width: 45px;">
                    </a>
                </li>
            </volist>


        </ul>
    </div>
</div>
<div id="chat_box" style="display: none" class="chat_panel">
    <div class="panel_title"><img id="chat_ico" class="chat_avatar avatar-img" src="{$friend.avatar64}">

        <div id="chat_title" class="title pull-left text-more"></div>
        <div class="control_btns pull-right"><a><i onclick="$('#chat_box').hide();"
                                                   class="glyphicon glyphicon-minus"></i></a><!-- <a
                ><i class="glyphicon glyphicon-off"></i></a>--></div>
    </div>
    <div class="row talk-body ">
        <div id="scrollArea_chat" class="row ">
            <div id="scrollContainer_chat">
            </div>
        </div>

    </div>

    <div class="send_box">
        <input id="chat_id" type="hidden" value="0">
        <script>
            var myhead = "{$self.avatar128}";
        </script>
        <textarea id="chat_content" class="form-control"></textarea>
    </div>
    <div class="row">
        <div class="col-md-6">
            <button class=" btn btn-danger" onclick="chat_exit()"
                    style="margin: 10px 10px"> 退出会话
            </button>
        </div>
        <div class="col-md-6">
            <button class="pull-right btn btn-primary" onclick="chat_postMessage()"
                    style="margin: 10px 10px"> 发送 Ctrl+Enter
            </button>
        </div>
    </div>
</div>
<style>

</style>