<neq name="posts" value="">
    <div class="hot_post forum_block_border" style="margin-top: 10px">
        <div class="row forum_block_title">
            <div class="col-md-12">热门讨论</div>
        </div>
        <dl>
            <volist name="posts" id="post">
                <dt>
                    <span class="hot_num">{$i}</span>
                    <a href="{:U('Index/detail',array('id'=>$post['id']))}" title="{$post.title|op_t}">
                        {$post.title|op_t}
                    </a>
                </dt>
            </volist>
        </dl>
    </div>
</neq>