<extend name="Base/common"/>

<block name="style">
    <link href="__CSS__/usercenter.css" rel="stylesheet" type="text/css"/>
</block>

<block name="body">
    <div class="col-md-12 usercenter">
        <div class="uc">
            <div class="uc_top_bg">
                <img class="img-responsive" src="__IMG__/fractional.png">
            </div>
            <div class="row uc_info">
                <div class="col-md-3 col-xs-6">
                    <dl>
                        <dt><img src="__IMG__/touxiang.jpg" class="avatar-img img-responsive"></dt>
                        <dd>
                            <div>
                                <div class="col-xs-4 text-center">
                                    <a href="/tox/index.php?s=/Weibo/Index/index/uid/1.html">44</a><br>微博
                                </div>
                                <div class="col-xs-4 text-center">
                                    <a href="/tox/index.php?s=/Usercenter/Index/fans.html">0</a><br>粉丝
                                </div>
                                <div class="col-xs-4 text-center">
                                    <a href="/tox/index.php?s=/Usercenter/Index/following.html">2</a><br>关注
                                </div>
                            </div>
                        </dd>
                    </dl>
                </div>
                <div class="col-md-3 col-xs-6">
                    <div class="uc_main_info">
                        <div class="uc_m_t_12 uc_m_b_12 uc_uname"><span>Think OX</span></div>
                        <div class="uc_m_b_12">个性签名：<span>我真的不知道写啥</span></div>
                        <div class="uc_m_b_12"><span class="uc_m_r_36">积分：22</span><span>等级：入门</span></div>
                        <div><span>头衔：网页设计师</span></div>
                    </div>
                </div>
                <div class="col-md-6 col-xs-12">
                    <div class="uc_follow">
                        <a class="btn btn-primary">关注</a>
                    </div>
                </div>
            </div>
            <nav class="navbar navbar-default uc_navbar" role="navigation">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse"
                            data-target="#bs-example-navbar-collapse-1">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                </div>

                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav">
                        <li>
                            <a href="#" class="uc_current">微博</a>
                        </li>
                        <li>
                            <a href="#">讨论区</a>
                        </li>
                        <li>
                            <a href="#">资料</a>
                        </li>
                        <li>
                            <a href="#">讨论区</a>
                        </li>
                        <li>
                            <a href="#">资料</a>
                        </li>
                    </ul>
                </div>
                <!-- /.navbar-collapse -->
            </nav>
            <div class="row uc_content">
                <div class="col-md-7 col-xs-12">
                    <div style="padding: 100px;font-size: 24px;color: #848484">变动内容</div>
                </div>
                <div class="col-md-5 col-sm-9 col-xs-12 uc_other_link">
                    <div>
                        <div class="uc_link_block clearfix">
                            <div class="uc_link_top clearfix">
                                <div class="uc_title">TA的粉丝(34)</div>
                                <div class="uc_fl_right uc_more_link"><a href="#">更多</a></div>
                            </div>
                            <div class="col-md-12 uc_link_info">
                                <div class="col-sm-3 col-xs-4">
                                    <dl>
                                        <dt><img src="__IMG__/touxiang.jpg" class="avatar-img img-responsive"></dt>
                                        <dd>商业经典</dd>
                                    </dl>
                                </div>
                                <div class="col-sm-3 col-xs-4">
                                    <dl>
                                        <dt><img src="__IMG__/touxiang.jpg" class="avatar-img img-responsive"></dt>
                                        <dd>商业经典</dd>
                                    </dl>
                                </div>
                                <div class="col-sm-3 col-xs-4">
                                    <dl>
                                        <dt><img src="__IMG__/touxiang.jpg" class="avatar-img img-responsive"></dt>
                                        <dd>商业经典</dd>
                                    </dl>
                                </div>
                                <div class="col-sm-3 col-xs-4">
                                    <dl>
                                        <dt><img src="__IMG__/touxiang.jpg" class="avatar-img img-responsive"></dt>
                                        <dd>商业经典</dd>
                                    </dl>
                                </div>
                        </div>
                        <div class="uc_link_block clearfix">
                            <div class="uc_link_top clearfix">
                                <div class="uc_title">TA的粉丝(34)</div>
                                <div class="uc_fl_right uc_more_link"><a href="#">更多</a></div>
                            </div>
                            <div class="col-md-12 uc_link_info">
                                <div class="col-sm-3 col-xs-4">
                                    <dl>
                                        <dt><img src="__IMG__/touxiang.jpg" class="avatar-img img-responsive"></dt>
                                        <dd>商业经典</dd>
                                    </dl>
                                </div>
                                <div class="col-sm-3 col-xs-4">
                                    <dl>
                                        <dt><img src="__IMG__/touxiang.jpg" class="avatar-img img-responsive"></dt>
                                        <dd>商业经典</dd>
                                    </dl>
                                </div>
                                <div class="col-sm-3 col-xs-4">
                                    <dl>
                                        <dt><img src="__IMG__/touxiang.jpg" class="avatar-img img-responsive"></dt>
                                        <dd>商业经典</dd>
                                    </dl>
                                </div>
                                <div class="col-sm-3 col-xs-4">
                                    <dl>
                                        <dt><img src="__IMG__/touxiang.jpg" class="avatar-img img-responsive"></dt>
                                        <dd>商业经典</dd>
                                    </dl>
                                </div>
                            </div>
                        </div>
                        <div class="uc_link_block clearfix">
                            <div class="uc_link_top clearfix">
                                <div class="uc_title">TA的粉丝(34)</div>
                                <div class="uc_fl_right uc_more_link"><a href="#">更多</a></div>
                            </div>
                            <div class="col-md-12 uc_link_info">
                                <div class="col-sm-3 col-xs-4">
                                    <dl>
                                        <dt><img src="__IMG__/touxiang.jpg" class="avatar-img img-responsive"></dt>
                                        <dd>商业经典</dd>
                                    </dl>
                                </div>
                                <div class="col-sm-3 col-xs-4">
                                    <dl>
                                        <dt><img src="__IMG__/touxiang.jpg" class="avatar-img img-responsive"></dt>
                                        <dd>商业经典</dd>
                                    </dl>
                                </div>
                                <div class="col-sm-3 col-xs-4">
                                    <dl>
                                        <dt><img src="__IMG__/touxiang.jpg" class="avatar-img img-responsive"></dt>
                                        <dd>商业经典</dd>
                                    </dl>
                                </div>
                                <div class="col-sm-3 col-xs-4">
                                    <dl>
                                        <dt><img src="__IMG__/touxiang.jpg" class="avatar-img img-responsive"></dt>
                                        <dd>商业经典</dd>
                                    </dl>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</block>

<block name="script">

    <script type="text/javascript" src=""></script>
    <script type="text/javascript" src=""></script>
    <script>

    </script>
</block>
