<eq name="type" value="personal">
    <dt class="expandinfo-dt">
        {$field_name}：
    </dt>

    <dd class="expandinfo-dd">
        <input type="text" onblur="check(this,{$field_id})" required="{$required}" min_length="{$validation.min}" max_length="{$validation.max}" text_type="{$child_form_type}" class="form-control" id="expand_{$field_id}" name="expand_{$field_id}" value="{$field_data|htmlspecialchars}">
        <input type="hidden" class="canSubmit" id="canSubmit_{$field_id}" value="{$canSubmit}">
    </dd>
    <div class="expandinfo-error-info"><label id="label_{$field_id}"></label></div>
<else/>
    <dt class="expandinfo-dt">
        {$field_name}：
    </dt>

    <dd class="expandinfo-dd">
        <if condition="($field_data neq null)&&($field_data neq '')">
            {$field_data|htmlspecialchars}
            <else/>
            无
        </if>
    </dd>
</eq>
<div class="clearfix"></div>