

<eq name="type" value="personal">
    <dt class="expandinfo-dt">
        {$field_name}：
    </dt>
    <php>
        $importDatetimePicker = true;
        //默认为当前时间
        if(!$field_data){
        $field_data = date("Y-m-d");
        }
    </php>
    <dd class="expandinfo-dd">
        <input class="time form-control input-group date form_datetime col-md-5" name="expand_{$field_id}" size="16" style="position: relative;display: block;" type="text" value="{$field_data}"  placeholder="请选择时间" readonly>
        <neq name="input_tips" value=""><span class="input-tips">{$input_tips}</span></neq>
    </dd>
    <else/>
    <dt class="expandinfo-dt">
        {$field_name}：
    </dt>

    <dd class="expandinfo-dd">
        <if condition="($field_data neq null)&&($field_data neq '')">
            {$field_data}
            <else/>
            还未设置
        </if>
    </dd>
</eq>
<div class="clearfix"></div>

<if condition="$importDatetimePicker">
    <link href="__STATIC__/datetimepickerV3/css/bootstrap.min.css" rel="stylesheet" media="screen">
    <link href="__STATIC__/datetimepickerV3/css/bootstrap-datetimepicker.min.css" rel="stylesheet" type="text/css">
    <script type="text/javascript" src="__STATIC__/datetimepickerV3/js/bootstrap-datetimepicker.js"></script>
    <script type="text/javascript" src="__STATIC__/datetimepickerV3/js/locales/bootstrap-datetimepicker.zh-CN.js" charset="UTF-8"></script>
    <script>
        /*年月日，小时，分选择
        $('.time').datetimepicker({
            //language:  'fr',
            weekStart: 1,
            todayBtn:  1,
            autoclose: 1,
            todayHighlight: 1,
            startView: 2,
            forceParse: 0,
            showMeridian: 1,
            format: 'yyyy-mm-dd hh:ii'
        });*/
        $('.time').datetimepicker({
            language:  'zh-CN',
            weekStart: 1,
            todayBtn:  1,
            autoclose: 1,
            todayHighlight: 1,
            startView: 2,
            minView: 2,
            forceParse: 0,
            format: 'yyyy-mm-dd'
        });
        /*小时，分选择
        $('.time').datetimepicker({
            language:  'fr',
            weekStart: 1,
            todayBtn:  1,
            autoclose: 1,
            todayHighlight: 1,
            startView: 1,
            minView: 0,
            maxView: 1,
            forceParse: 0,
            format: 'yyyy-mm-dd'
        });*/

    </script>
</if>