<!DOCTYPE html>
<link rel="stylesheet" type="text/css" href="Addons/Checkin/View/Css/check.css">

<div class="<php>if($ischeck){</php>sign-in-h<php>}else{</php>sign-in<php>}</php>" id="checkdiv">

    <div class="row" style="text-align: center">

        <div class="col-md-6 dateinfo">

            <div>{$check.week}</div>

            <div>{$check.day}</div>
        </div>

        <div class="col-md-6 checkinfo">

            <div> DAYS </div>

            <div>0 </div>

        </div>

        <div style="padding-top: 60px">
            <div>
                <php>$url='http://'.$_SERVER['HTTP_HOST'].$_SERVER['PHP_SELF'].'?'.$_SERVER['QUERY_STRING'];</php>
               <a style="color: white" href="{:U('Home/User/login',array('back'=>urlencode($url)))}" >签到</a>
            </div>
        </div>
    </div>

</div>


