/*布局样式*/
.common_block_border {
  border: #ddd 1px solid;
  margin-bottom: 20px;
  background: white;
}
.common_block_title {
  padding: 8px 5px;
  -moz-border-radius-topleft: 5px;
  -moz-border-radius-topright: 5px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  color: #333333;
  font-size: 1.2em;
  margin: 5px 0 10px 15px;
}
.common_block_title_right {
  padding: 8px 5px;
  -moz-border-radius-topleft: 5px;
  -moz-border-radius-topright: 5px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  color: #333333;
  font-size: 1.2em;
  margin: 5px 0 10px 15px;
  padding-left: 5px;
  margin-left: 5px;
}
/*布局样式end*/
.sub_menu .navbar-default {
  background: white;
  border: 1px solid #dddddd;
}
.sub_menu .navbar-default .navbar-nav > .active > a,
.sub_menu .navbar-default .navbar-nav > .active > a:hover,
.sub_menu .navbar-default .navbar-nav > .active > a:focus,
.sub_menu .navbar-default .navbar-nav > li > a:hover,
.sub_menu .navbar-default .navbar-nav > li > a:focus {
  background: none;
  color: #999;
  font-size: 16px;
  border-bottom: 3px solid #03ae87;
}
.sub_menu .navbar-default .navbar-nav > .open > a,
.sub_menu .navbar-default .navbar-nav > .open > a:hover,
.sub_menu .navbar-default .navbar-nav > .open > a:focus {
  border-bottom: 3px solid #03ae87;
  background: white!important;
}
.sub_menu .navbar-default .navbar-nav > li > a {
  color: #999;
  font-size: 16px;
}
.sub_menu .navbar-default .navbar-brand {
  color: #666;
}
.sub_nav {
  background: none;
}
.sub_nav .navbar-default {
  background: none !important;
}
.hr_3d {
  border-bottom: 1px solid white;
  border-top: 1px #cccccc solid;
}
