<header>
    <div class="container">
        <div class="row">
            <div class="col-md-2">
                <img src="__PUBLIC__/Forum/images/header-rabbit.png"/>
            </div>
            <div class="col-md-10">
                <p style="height: 5em;">&nbsp;</p>
                <h3 class="text-success">讨论区</h3>
                <p class="text-muted">一晃眼，我们都将垂垂老去，所以勇敢去做自己想做的事。</p>
            </div>
        </div>
        <div class="row">
            <nav class="navbar navbar-default" role="navigation">
                <div class="container-fluid">
                    <!-- Brand and toggle get grouped for better mobile display -->
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                    </div>

                    <!-- Collect the nav links, forms, and other content for toggling -->
                    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                        <ul class="nav navbar-nav">
                            <volist name="forum_list" id="each_forum">
                                <php>
                                    $forum_class = $each_forum['id'] == $forum_id ? 'active' : '';
                                </php>
                                <li class="{$forum_class}"><a href="{:U('Index/forum',array('id'=>$each_forum['id']))}">{$each_forum.title|htmlspecialchars}</a></li>
                            </volist>
                        </ul>
                    </div><!-- /.navbar-collapse -->
                </div><!-- /.container-fluid -->
            </nav>
        </div>
    </div>
</header>