<link type="text/css" rel="stylesheet" href="__CSS__/forum.css"/>

<div class="forum_header forum_block_border text-center">
    <div class="row">
        <div class="col-md-12">
            <i class="forum_logo"></i>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            板块总数：{$count.forum}
        </div>
        <div class="col-md-4">
            主题总数：{$count.post}
        </div>
        <div class="col-md-4">
            帖子总数：{$count.all}
        </div>
    </div>
    <div class="forum_left_tip">统计</div>
</div>

<!--

<div class="row">
     <nav class="navbar navbar-default" role="navigation">
         <div class="container-fluid">
             &lt;!&ndash; Brand and toggle get grouped for better mobile display &ndash;&gt;
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle" data-toggle="collapse"
                                data-target="#bs-example-navbar-collapse-2">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                    </div>

                    &lt;!&ndash; Collect the nav links, forms, and other content for toggling &ndash;&gt;
                    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-2">
                        <ul class="nav navbar-nav">
                            </php>

                            <li class=" <if condition="$forum_id eq 0">
                            active
                            </if>"><a href="{:U('Index/forum')}">全部帖子</a>
                            </li>
                            <volist name="forum_list" id="each_forum">
                                <php>
                                    $forum_class = $each_forum['id'] == $forum_id ? 'active' : '';
                                </php>
                                <li class="{$forum_class}"><a href="{:U('Index/forum',array('id'=>$each_forum['id']))}">{$each_forum.title|htmlspecialchars}</a>
                                </li>
                            </volist>
                        </ul>
                        <form id="frm_search" class="navbar-form navbar-left pull-right" role="search" method="post" action="{:U('Forum/Index/search')}">
                            <div class="form-group form-control" style="border-radius: 2em;padding-right: 0;margin-top: 5px;padding-top: 5px;">
                                <input id="search_keywords" type="text" name="keywords" class="" style="border: none;width: 82%;outline: none;"
                                       placeholder="输入帖子标题或内容">
                                <i id="sbt_search"  style="color: rgb(72,184,122)" class="glyphicon glyphicon-search"></i>
                            </div>
                        </form>
                        <script>
                            $(function () {
                                $('#sbt_search').click(function () {
                                    var d = $('#frm_search').serialize();
                                    $.get("{:U('Forum/Index/search')}", d, function (msg) {

                                    }, 'json');
                                })
                            })
                        </script>
                    </div>
                    &lt;!&ndash; /.navbar-collapse &ndash;&gt;
                </div>
                &lt;!&ndash; /.container-fluid &ndash;&gt;
            </nav>
        </div>-->
