.dateinfo{
  color: #FFFFFF;float: left;padding-left: 70px;padding-top: 20px;
}

.checkinfo{
    float: right;padding-right: 70px;padding-top: 20px;color: white;
}

.sign-in-h{
    width: 263px;
    height: 100px;

    background-color: #48b87a;
}
.sign-in{
    width: 263px;
    height: 100px;
    background-color:#48b87a;

}
.datetime .date .day .week .num{
    color: lawngreen;
}

.btn-sign{
    color: white;
}
.btn-sign a{
    color:white ;
}


.btn-sign-h{
    color:#ffffff;
    width: 263px;
    height: 100px;
    margin-top: 80px;
    background-color:#48b87a ;
}

.sign-wrap{position:relative;top:54px;z-index:1;}

.arrow-y {
    background-position: 0 0;
    width: 10px;
    height: 7px;
    position: absolute;
    top: -5px;
    left: 10px;}

.sign-box {
    position: absolute;
    width: 263px;
    background:white;
    margin-top: -35px;
    filter:alpha(opacity=50);
    -moz-opacity:0.5;
    -khtml-opacity: 0.5;
    opacity: 0.9;
    border: 1px solid #48b87a;

}



