<extend name="Base/common"/>

<block name="style">
    <link href="__CSS__/issue.css" rel="stylesheet" type="text/css"/>
    <link type="text/css" rel="stylesheet" href="__STATIC__/oneplus/js/ext/magnific/magnific-popup.css"/>
</block>

<block name="body">
<div class="row">
    <div class="col-md-12 app_head">
        <div class="app_title">
            <i class="app_ico_i glyphicon glyphicon-th-large"> </i>专辑
        </div>
        <div>
            <div class="aline"></div>
        </div>
        <div class="sub_nav">
            <ul id="top_nav" class="nav_list clearfix">
                <li>
                    <a href="{:U('index')}">全部分类</a>
                </li>
                <volist name="tree" id="top">
                    <li>
                        <a <eq name="top_issue" value="$top['id']">class="cur"</eq> href="{:U('index',array('issue_id'=>$top['id']))}" data="{$top.id}">{$top.title}</a>
                    </li>
                </volist>

                <li class="pull-right btn-submit">

                    <if condition="is_login() eq 0">
                        <button class="btn btn-primary " onclick="op_error('请登陆后再投稿。','温馨提示')" ><i
                                class="glyphicon glyphicon-send"></i>&nbsp;投稿
                        </button>
                        <else/><button class="btn btn-primary open-popup-link" href="#frm-post-popup"><i
                            class="glyphicon glyphicon-send"></i>&nbsp;投稿
                    </button>

                    </if>
                </li>
            </ul>

        </div>
        <volist name="tree" id="top">
            <div <eq name="top_issue" value="$top['id']">style="display:block;"</eq>  class="children_nav" id="children_{$top.id}">
                <ul class="nav_list clearfix">
                    <li><a href="{:U('index',array('issue_id'=>$top['id']))}" <eq name="_GET.issue_id" value="$top['id']">style="font-weight:bold;color:#000"</eq> class="cur">全部分类</a></li>
                    <volist name="top._" id="children">
                        <li><a <if condition="$issue_id eq $children['id']"> style='color:#000;font-weight:bold' </if> href="{:U('index',array('issue_id'=>$children['id']))}">{$children.title}</a></li>
                    </volist>

                </ul>
            </div>
        </volist>


    </div>

</div>
<div class="content-body">
        <h2 class="content-title">
            {$content.title}
        </h2>
        <hr/>
        <div class="row">
            <div class="col-md-4">
                <div class="thumbnail">
                    <img class="cover" src="{$content.cover_id|getThumbImageById=350,262}"/>
                </div>
            </div>
            <div class="col-md-8 ">
                <div class="row">

                    <div class="col-md-3">
                        <ul class="operation clearfix">
                            <li><i class="glyphicon glyphicon-stats"></i>{$content.view_count}</li>
                            <li>{:Hook('support',array('table'=>'issue_content','row'=>$content['id'],'app'=>'Issue','uid'=>$content['uid'],'jump'=>'no'))}</li>
                            <li><i class="glyphicon glyphicon-comment"></i>{$content.reply_count}</li>
                        </ul>

                    </div>
                    <div class="col-md-9">
                        <div class="pull-right">
                            <div class="bdsharebuttonbox"><a href="#" class="bds_more" data-cmd="more"></a><a href="#" class="bds_qzone" data-cmd="qzone" title="分享到QQ空间"></a><a href="#" class="bds_tsina" data-cmd="tsina" title="分享到新浪微博"></a><a href="#" class="bds_tqq" data-cmd="tqq" title="分享到腾讯微博"></a><a href="#" class="bds_renren" data-cmd="renren" title="分享到人人网"></a><a href="#" class="bds_weixin" data-cmd="weixin" title="分享到微信"></a><a href="#" class="bds_tieba" data-cmd="tieba" title="分享到百度贴吧"></a><a href="#" class="bds_copy" data-cmd="copy" title="分享到复制网址"></a></div>
                            <script>window._bd_share_config={"common":{"bdSnsKey":{},"bdText":"","bdMini":"2","bdMiniList":false,"bdPic":"","bdStyle":"1","bdSize":"16"},"share":{}};with(document)0[(getElementsByTagName('head')[0]||body).appendChild(createElement('script')).src='http://bdimg.share.baidu.com/static/api/js/share.js?v=89860593.js?cdnversion='+~(-new Date()/36e5)];</script></p>

                        </div>

                    </div>

                </div>
                <div class="row" style="margin-top: 50px">
                    <div class="col-md-2" style="text-align: center">
                        <img ucard="{$content.user.id}" src="{$content.user.avatar64}" class="avatar-img" style="width: 64px"/>
                        <br/>

                           <a href="{$content.user.space_url}"> {$content.user.username} </a>

                    </div>
                    <div class="col-md-8">

                        <div class="signature word-wrap">
                            <div class="triangle"></div>
                            <div class="triangle_left"></div>
                            <eq name="content.user.signature" value="">还没想好O(∩_∩)O</eq>
                            {$content.user.signature}
                        </div>
                    </div>
                </div>
                <div class="row" style="margin-top: 40px">
                    <div class="col-md-6">
                        <if condition="($content['uid'] eq is_login()) OR is_administrator(is_login())">
                            <a class="btn btn-primary " href="{:U('edit',array('id'=>$content['id']))}" ><i class="glyphicon glyphicon-pencil"></i>&nbsp;编辑</a>
                        </if>
                    </div>
                    <div class="col-md-6">
                        <div class="pull-right" style="color: #999">
                            发布时间：  {$content.create_time|friendlyDate} &nbsp;&nbsp;
                            更新时间： {$content.update_time|friendlyDate}
                        </div>
                    </div>

               </div>


           </div>


        </div>

    <div>

    </div>
    <hr/>
        <div>
            <h3>介绍</h3>
            {$content.content}
        </div>
    <hr>
    <div>
    {:hook('localComment', array('path'=>"Issue/Index/issueContentDetail/$issueContent[id]", 'uid'=>$issueContent['uid']))}
    </div>
</div>




<!-- Modal -->
<div id="frm-post-popup" class="white-popup mfp-hide" style="max-width: 745px">
    <h2>投稿</h2>

    <div class="aline" style="margin-bottom: 10px"></div>
    <div>
        <div class="row">
            <div class="col-md-4">
                <div class="controls">
                    <input type="file" id="upload_picture_cover">
                    <div class="upload-img-box" style="margin-top: 20px;width: 250px">
                        <div style="font-size:3em;padding:2em 0;color: #ccc;text-align: center">暂无封面</div>
                    </div>
                </div>

            </div>
            <div class="col-md-8">
                <form class="form-horizontal  ajax-form" role="form"  action="{:U('Issue/Index/doPost')}" method="post">
                    <div class="form-group">
                        <label for="title" class="col-sm-2 control-label">标题</label>

                        <div class="col-sm-10">
                            <input id="title" name="title" type="" class="form-control" value="" placeholder="标题"/>
                        </div>

                        <input type="hidden" name="cover_id" id="cover_id_cover" value="{$data['cover']}"/>
                    </div>
                    <div class="form-group">
                        <label for="issue" class="col-sm-2 control-label">分类</label>
                        <div class="col-sm-5">
                            <select id="issue_top" name="issue" class="form-control">
                                <volist name="tree" id="top">
                                    <option value="{$top.id}">
                                        {$top.title}
                                    </option>

                                </volist>
                            </select>
                        </div>

                        <script>
                            $(function(){

                                $('#issue_top').change(function(){
                                        var pid=$(this).val();
                                        $.post("{:U('Issue/Index/selectDropdown')}",{pid:pid},function(data){
                                            $('#issue_second').html('');
                                            $.each(data,function(index,element){

                                                        $('#issue_second').append('<option value="'+element.id+'">'+element.title+'</option>')
                                                    }
                                            );


                                        },'json');
                                });
                                $('#issue_top').change();

                            })

                        </script>
                        <div class="col-sm-5">
                            <select id="issue_second" name="issue_id" class="form-control">
                                <volist name="tree" id="top">
                                    <option value="{$top.id}">
                                        {$top.title}
                                    </option>
                                </volist>
                            </select>
                        </div>

                        </div>
                    <div class="form-group">
                        <label for="content" class="col-sm-2 control-label">介绍</label>

                        <div class="col-sm-10">

                            <php>$config='toolbar:[\'bold italic underline fontsize forecolor justifyleft |  map image emotion\']';</php>
                            {:W('UeditorMini/editor',array('myeditor','content',$post['content'],'378px','250px',$config))}
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-offset-2 col-sm-10">
                            <button type="submit" class="btn btn-primary " href="{:U('Issue/Index/doPost')}">提交</button>
                        </div>

                    </div>
                </form>
            </div>
        </div>

    </div>

</div>
<!-- /.modal -->
</block>

<block name="script">
    <script type="text/javascript" src="__STATIC__/uploadify/jquery.uploadify.min.js"></script>
    <script type="text/javascript" src="__STATIC__/oneplus/js/ext/magnific/jquery.magnific-popup.min.js"></script>
    <script>
        $(function () {
            $('#top_nav >li >a ').mouseenter(function () {
                $('.children_nav').hide();
                $('#children_' + $(this).attr('data')).show();
            });
            $('.open-popup-link').magnificPopup({
                type: 'inline',
                midClick: true, // Allow opening popup on middle mouse click. Always set it to true if you don't provide alternative source in href.
                closeOnBgClick:false
            });

            $('.open-popup-ajax').magnificPopup({
                type: 'iframe',
                midClick: true, // Allow opening popup on middle mouse click. Always set it to true if you don't provide alternative source in href.
                closeOnBgClick:false

            });




            bindSupport();
        })
    </script>

    <script type="text/javascript">
        var SUPPORT_URL="{:addons_url('Support://Support/doSupport')}";
        //上传图片
        /* 初始化上传插件 */
        $("#upload_picture_cover").uploadify({
            "height"          : 30,
            "swf"             : "__STATIC__/uploadify/uploadify.swf",
            "fileObjName"     : "download",
            "buttonText"      : "上传封面",
            "buttonClass":"uploadcover",
            "uploader"        : "{:U('Home/File/uploadPicture',array('session_id'=>session_id()))}",
            "width"           : 250,
            'removeTimeout'	  : 1,
            'fileTypeExts'	  : '*.jpg; *.png; *.gif;',
            "onUploadSuccess" : uploadPicturecover,
            'overrideEvents':['onUploadProgress','onUploadComplete','onUploadStart','onSelect'],
        'onFallback' : function() {
            alert('未检测到兼容版本的Flash.');
        }, 'onUploadProgress': function (file, bytesUploaded, bytesTotal, totalBytesUploaded, totalBytesTotal) {
                $("#cover_id_cover").parent().find('.upload-img-box').html(totalBytesUploaded + ' bytes uploaded of ' + totalBytesTotal + ' bytes.');
            },'onUploadComplete' : function(file) {
               //alert('The file ' + file.name + ' finished processing.');
            },'onUploadStart' : function(file) {
                //alert('Starting to upload ' + file.name);
            },'onQueueComplete' : function(queueData) {
               // alert(queueData.uploadsSuccessful + ' files were successfully uploaded.');
            }
        });
        function uploadPicturecover(file, data){
            var data = $.parseJSON(data);
            var src = '';
            if(data.status){
                $("#cover_id_cover").val(data.id);
                src = data.url || '__ROOT__' + data.path
                $('.upload-img-box').html(
                        '<div class="upload-pre-item"><img src="' + src + '"/></div>'
                );
            } else {
              op_error('封面上传失败。','温馨提示');
            }
        }
    </script>
</block>
