<div>
    <div class="uc_link_block clearfix">
        <div class="uc_link_top clearfix">
            <div class="uc_title">TA的关注(34)</div>
            <div class="uc_fl_right uc_more_link"><a href="#">更多</a></div>
        </div>
        <div class="col-md-12 uc_link_info">
            <div class="col-sm-3 col-xs-4">
                <dl>
                    <dt><img src="__IMG__/touxiang.jpg" class="avatar-img img-responsive"></dt>
                    <dd>商业经典</dd>
                </dl>
            </div>
            <div class="col-sm-3 col-xs-4">
                <dl>
                    <dt><img src="__IMG__/touxiang.jpg" class="avatar-img img-responsive"></dt>
                    <dd>商业经典</dd>
                </dl>
            </div>
            <div class="col-sm-3 col-xs-4">
                <dl>
                    <dt><img src="__IMG__/touxiang.jpg" class="avatar-img img-responsive"></dt>
                    <dd>商业经典</dd>
                </dl>
            </div>
            <div class="col-sm-3 col-xs-4">
                <dl>
                    <dt><img src="__IMG__/touxiang.jpg" class="avatar-img img-responsive"></dt>
                    <dd>商业经典</dd>
                </dl>
            </div>
        </div>
        <div class="uc_link_block clearfix">
            <div class="uc_link_top clearfix">
                <div class="uc_title">TA的粉丝(34)</div>
                <div class="uc_fl_right uc_more_link"><a href="#">更多</a></div>
            </div>
            <div class="col-md-12 uc_link_info">
                <div class="col-sm-3 col-xs-4">
                    <dl>
                        <dt><img src="__IMG__/touxiang.jpg" class="avatar-img img-responsive"></dt>
                        <dd>商业经典</dd>
                    </dl>
                </div>
                <div class="col-sm-3 col-xs-4">
                    <dl>
                        <dt><img src="__IMG__/touxiang.jpg" class="avatar-img img-responsive"></dt>
                        <dd>商业经典</dd>
                    </dl>
                </div>
                <div class="col-sm-3 col-xs-4">
                    <dl>
                        <dt><img src="__IMG__/touxiang.jpg" class="avatar-img img-responsive"></dt>
                        <dd>商业经典</dd>
                    </dl>
                </div>
                <div class="col-sm-3 col-xs-4">
                    <dl>
                        <dt><img src="__IMG__/touxiang.jpg" class="avatar-img img-responsive"></dt>
                        <dd>商业经典</dd>
                    </dl>
                </div>
            </div>
        </div>
        <div class="uc_link_block clearfix">
            <div class="uc_link_top clearfix">
                <div class="uc_title">TA的粉丝(34)</div>
                <div class="uc_fl_right uc_more_link"><a href="#">更多</a></div>
            </div>
            <div class="col-md-12 uc_link_info">
                <div class="col-sm-3 col-xs-4">
                    <dl>
                        <dt><img src="__IMG__/touxiang.jpg" class="avatar-img img-responsive"></dt>
                        <dd>商业经典</dd>
                    </dl>
                </div>
                <div class="col-sm-3 col-xs-4">
                    <dl>
                        <dt><img src="__IMG__/touxiang.jpg" class="avatar-img img-responsive"></dt>
                        <dd>商业经典</dd>
                    </dl>
                </div>
                <div class="col-sm-3 col-xs-4">
                    <dl>
                        <dt><img src="__IMG__/touxiang.jpg" class="avatar-img img-responsive"></dt>
                        <dd>商业经典</dd>
                    </dl>
                </div>
                <div class="col-sm-3 col-xs-4">
                    <dl>
                        <dt><img src="__IMG__/touxiang.jpg" class="avatar-img img-responsive"></dt>
                        <dd>商业经典</dd>
                    </dl>
                </div>
            </div>
        </div>
    </div>
</div>