<extend name="Base/common"/>

<block name="body">
    <link type="text/css" rel="stylesheet" href="__CSS__/home.css"/>
    <script type="text/javascript" src="__PUBLIC__/Core/js/ext/superslide/js/superslide.js"></script>

    <!-- 主体 -->
    <!--顶部Banner-->
    <div class="container" style="border-radius: 3px;border: 1px solid #dedede;background-color: #ffffff;width: 1080px">
        <div class="row" style="padding:15px">
            <div class="col-md-9" style="padding-left: 0px;padding-right: 30px;">
                <!--幻灯片开始-->
                <div class="hidden-xs picFocus ">
                    <div class="bd">
                        <div class="tempWrap" style="overflow:hidden; position:relative; width:775px">
                            <ul style="width: 1868px; left: -282.822672px; position: relative; overflow: hidden; padding: 0px; margin: 0px;">
                                <li><a target="_blank" href="#"><img src="__IMG__/1.jpg"></a></li>
                                <li><a target="_blank" href="#"><img src="__IMG__/pic2.jpg"></a></li>
                                <li><a target="_blank" href="#"><img src="__IMG__/pic3.jpg"></a></li>
                                <li><a target="_blank" href="#"><img src="__IMG__/pic4.jpg"></a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="ds"></div>
                    <div class="hd">
                        <ul>
                            <li class="on"><img src="__IMG__/pic1.jpg"></li>
                            <li class=""><img src="__IMG__/pic2.jpg"></li>
                            <li class=""><img src="__IMG__/pic3.jpg"></li>
                            <li class=""><img src="__IMG__/pic4.jpg"></li>
                        </ul>
                    </div>
                </div>
                <!--幻灯片结束-->

                <!-- 热门活动-->
                <div class="row hot_activity">
                    <div class="col-md-12">
                        <p style="border-left: 4px solid #03ae87;">&nbsp;&nbsp;&nbsp;热门活动</p>
                    </div>
                    <div class="col-md-4">
                        <a><img src="__IMG__/pp.png"></a>

                        <p><h4><a href="#">大型互联网研讨会</a></h4></p>
                        <p><img src="__IMG__/er.png">&nbsp;&nbsp;<a>23</a>&nbsp;&nbsp;&nbsp;&nbsp;
                            <img src="__IMG__/see.png">&nbsp;&nbsp;<a>23</a></p>
                    </div>
                    <div class="col-md-4">
                        <a><img src="__IMG__/pp.png"></a>

                        <p><h4><a href="#">大型互联网研讨会</a></h4></p>
                        <p><img src="__IMG__/er.png">&nbsp;&nbsp;<a>23</a>&nbsp;&nbsp;&nbsp;&nbsp;
                            <img src="__IMG__/see.png">&nbsp;&nbsp;<a>23</a></p>
                    </div>
                    <div class="col-md-4">
                        <a href="#"><img src="__IMG__/pp.png"></a>

                        <p><h4><a href="#">大型互联网研讨会</a></h4></p>
                        <p><img src="__IMG__/er.png">&nbsp;&nbsp;<a>23</a>&nbsp;&nbsp;&nbsp;&nbsp;
                            <img src="__IMG__/see.png">&nbsp;&nbsp;<a>23</a></p>
                    </div>
                </div>
                <!-- 热门活动-->

                <!--广告位-->
                <div class="col-md-12 square_ad hidden-xs " style="padding: 0px;">
                    <img class="img-responsive" src="__IMG__/1.jpg">
                </div>
                <!--广告位-->

                <!-- 新鲜事-->
                <div class=" row hot_activity">
                    <div class="col-md-12">
                        <p style="border-left: 4px solid #03ae87;">&nbsp;&nbsp;&nbsp;新鲜事</p>
                    </div>

                    <div class="col-md-4">
                        <img src="__IMG__/pp.png">
                    </div>

                    <div class="col-md-8">
                        <div class="square_weibo">
                            <p><b>微博</b></p>

                            <div class="plaza_ul">
                                <li>
                                    <span class="black-squareIcon"></span>
                                    <a target="_blank" href="#">强烈建议：开发团购微信端购买 ...
                                    </a>
                                </li>
                                <li>
                                    <span class="black-squareIcon"></span>
                                    <a target="_blank" href="#">强烈建议：开发团购微信端购买/ ...
                                    </a>
                                </li>
                                <li>
                                    <span class="black-squareIcon"></span>
                                    <a target="_blank" href="#">强烈建议：开发团购微信端购买/微信登录 ...
                                    </a>
                                </li>
                                <li>
                                    <span class="black-squareIcon"></span>
                                    <a target="_blank" href="#">强烈建议：开发团购微信端购买/微信登录 ...
                                    </a>
                                </li>

                            </div>

                        </div>

                        <div class="square_tieba">

                            <p><b>帖子</b></p>

                            <div class="plaza_ul">
                                <li>
                                    <span class="black-squareIcon"></span>
                                    <a target="_blank" href="#">强烈建议：开发团购微信端购买 ...
                                    </a>
                                </li>
                                <li>
                                    <span class="black-squareIcon"></span>
                                    <a target="_blank" href="#">强烈建议：开发团购微信端购买/ ...
                                    </a>
                                </li>
                                <li>
                                    <span class="black-squareIcon"></span>
                                    <a target="_blank" href="#">强烈建议：开发团购微信端购买/微信登录 ...
                                    </a>
                                </li>
                                <li>
                                    <span class="black-squareIcon"></span>
                                    <a target="_blank" href="#">强烈建议：开发团购微信端购买/微信登录 ...
                                    </a>
                                </li>

                            </div>

                        </div>


                    </div>


                </div>


                <!--新鲜事-->


            </div>


            <div class="col-md-3 square_sider_top">
                <p><img src="__IMG__/ww_01.png"><a>2345</a>&nbsp;&nbsp;篇微博 </p>
                <hr>
                <p><img src="__IMG__/ww_02.png"><a>2345</a>&nbsp;&nbsp;个帖子 </p>
                <hr>
                <p><img src="__IMG__/ww_03.png"><a>2345</a>&nbsp;&nbsp;个活动 </p>
            </div>

            <div class="col-md-3">
                <h1>AD</h1>
            </div>

            <div class="col-md-3 square_sider_notice">
                <h5><b>公告</b></h5>
                <ul>
                    <li><a>ddfd是的撒旦时代的时代的沟通方法改风格规格表的风格大方</a></li>
                    <li><a>ddfd大叔大婶</a></li>
                    <li><a>ddfd</a></li>
                </ul>


            </div>

        </div>


    </div>


    <script type="text/javascript">
        jQuery(".picFocus").slide({ mainCell: ".bd ul", effect: "left", autoPlay: true });
    </script>
</block>