<div class="forum_module event_right">
    <h2 class="event_type_name">活动分类</h2>

    <div class="event_type">
        <a style="float: left" href="{:U('index',array('norh'=>$norh))}"
        <eq name="type_id" value="">class="cur"</eq>
        >全部分类</a>
        <volist name="tree" id="top">
            <a style="float: left"
            <eq name="type_id" value="$top['id']">class="cur"</eq>
            href="{:U('index',array('type_id'=>$top['id'],'norh'=>$norh))}" data="{$top.id}">{$top.title}</a>
        </volist>
    </div>
</div>




<php>if(ACTION_NAME == 'detail' ){</php>
<div class="forum_module " style="width:100%;float: left;">
    <h2 class="event_type_name">参与活动的人 ({$content.attentionCount}人) <a class="pull-right"
                                                                       href="{:U('member',array('id'=>$content['id']))}"
                                                                       style="font-size: 14px;margin-right: 10px;color: #848484">全部</a>
    </h2>

    <div style="width: 100%">
        <volist name="content['member']" id="vo" offset="0" length="20">
            <div class="" style="text-align: center;width:80px;float: left;height: 80px;line-height: 80px;">
                <a href="{$vo.space_url}">
                    <img ucard="{$vo.id}" src="{$vo.avatar64}" class="avatar-img" style="width: 64px"/>
                </a>
            </div>
        </volist>
    </div>

</div>
<php>}</php>

{:W('RecommendEvent/recommendEvent')}