<extend name="Public/forum"/>

<block name="body">
    <div class="row">
        <div class="col-md-12">
            <section id="contents">
                <if condition="!$list">
                    <div class="row">
                        <div class="col-md-12">
                            <p class="text-muted" style="text-align: center; font-size: 3em; padding-top: 3em;">
                                暂时没有帖子～
                            </p>
                        </div>
                    </div>
                </if>
                <volist name="list" id="document">
                    <php>
                        $user = query_user(array('avatar128','username','uid','space_url'), $document['uid']);
                    </php>
                    <div class="row">
                        <div class="col-md-1">
                            <p>
                                <a href="{$user.space_url}">
                                    <img src="{$user.avatar128}" ucard="{$user.uid}" class="avatar-img"
                                         style="width:100%;"/>
                                </a>
                            </p>
                        </div>
                        <div class="col-md-11">
                            <p>
                                <a class="forum-list-title-link"
                                   href="{:U('Index/detail',array('id'=>$document['id']))}">{$document.title|htmlspecialchars}</a>
                            </p>

                            <p class="pull-right text-muted">
                                <span>阅读（{$document.view_count}）</span>
                                <span style="width: 1em; display: inline-block;">&nbsp;</span>
                                <span>回复（{$document.reply_count}）</span>
                            </p>

                            <p class="text-muted">
                                <a href="{$user.space_url}" ucard="{$user.uid}" >{$user.username}</a> 于 {$document.create_time|time_format}
                                发布
                            </p>
                        </div>
                    </div>
                    <hr class="forum-list-hr"/>
                </volist>
                <div class="pull-right">
                    {:getPagination($totalCount)}
                </div>
            </section>
        </div>
    </div>

</block>
